{% extends "base.html" %}
{% block title %}Поиск задач{% endblock %}

{% block content %}
{% if not current_user %}
    <p>Чтобы посмотреть список задач, <a href="/login">войдите</a> или <a href="/register">зарегестрируйтесь</a></p>
{% else %}
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Введите название задачи" value="{{ query }}">
        <button type="submit">Поиск</button>
    </form>
    {% if tasks %}
    <h2>Результы поиска</h2>
    <ul>
        {% for task in tasks %}
        <li>
            <a href="/tasks/{{ task.id }}">{{ task.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Задач не найдено.</p>
    {% endif %}
    <span id="near-deadline-tasks" style="display:none;">{{ near_deadline_tasks | tojson | safe }}</span>
        <div class="modal fade" id="deadlineModal" tabindex="-1" role="dialog" aria-labelledby="deadlineModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deadlineModalLabel">Внимание!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Дедлайн для задачи <a id="taskLink" href="#">"<span id="taskTitle"></span>"</a> наступает <span id="taskDeadline"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
{% endif %}

<script src="{{ url_for('static', path='/scripts.js') }}"></script>
{% endblock %}