{% extends "base.html" %}

{% block title %}Задачи{% endblock %}

{% block content %}
    
        <div class="row justify-content-center">
            <div class="col-md-5 d-flex justify-content-center">
                {% if not current_user %}
                <p>Чтобы посмотреть список задач, <a href="/login">войдите</a> или <a href="/register">зарегестрируйтесь</a></p>
                {% else %}
                <form action="/search" method="get">
                    <input type="text" style="width: 400px;" name="query" placeholder="Введите название задачи" value="{{ query }}">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>
            </div>
        </div>
        <h2 style="text-align: center;">Список задач</h2>
        <div class="row justify-content-center">
            
            <div class="col-md-5 d-flex justify-content-center">
                <a href="/tasks/create" class="btn btn-primary">Создать новую задачу</a>
            </div>
        </div>
    <div class="row justify-content-center">
            <ul>
                {% for task in tasks if task.status == "новая" %}
                <div class="col-md-12">
                    <ol>
                        <a href="/tasks/{{ task.id }}">
                            <h4>{{ task.title|truncate(17, True, '...') }}</h4>
                        </a>
                        <p>{{ task.description|truncate(17, True, '...') }}</p>
                        <p class="status-{{ task.status }}">Статус: {{ task.status }}</p>
                        <p class="priority-{{ task.priority }}">Приоритет: {{ task.priority }}</p>
                        <p>Дедлайн: {{ task.deadline }}</p>
                        <a href="/tasks/{{ task.id }}/edit" class="btn btn-primary">Редактировать</a>
                        <form action="/tasks/{{ task.id }}/delete" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </ol>
                </div>
                {% endfor %}
            </ul>
            <ul>
                {% for task in tasks if task.status == "в процессе" %}
                    <div class="col-md-12">
                        <ol>
                            <a href="/tasks/{{ task.id }}">
                                <h4>{{ task.title|truncate(17, True, '...') }}</h4>
                            </a>
                            <p>{{ task.description|truncate(17, True, '...') }}</p>
                            <p class="status-{{ task.status }}">Статус: {{ task.status }}</p>
                            <p class="priority-{{ task.priority }}">Приоритет: {{ task.priority }}</p>
                            <p>Дедлайн: {{ task.deadline }}</p>
                            <a href="/tasks/{{ task.id }}/edit" class="btn btn-primary">Редактировать</a>
                            <form action="/tasks/{{ task.id }}/delete" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </ol>
                    </div>
                {% endfor %}
            </ul>
            <ul>
                {% for task in tasks if task.status == "завершена" %}
                <div class="col-md-12">
                    <ol>
                        <a href="/tasks/{{ task.id }}">
                            <h4>{{ task.title|truncate(17, True, '...') }}</h4>
                        </a>
                        <p>{{ task.description|truncate(17, True, '...') }}</p>
                        <p class="status-{{ task.status }}">Статус: {{ task.status }}</p>
                        <p class="priority-{{ task.priority }}">Приоритет: {{ task.priority }}</p>
                        <p>Дедлайн: {{ task.deadline }}</p>
                        <a href="/tasks/{{ task.id }}/edit" class="btn btn-primary">Редактировать</a>
                        <form action="/tasks/{{ task.id }}/delete" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </ol>
                </div>
                {% endfor %}
            </ul>
    </div>

    <span id="near-deadline-tasks" style="display:none;">{{ near_deadline_tasks | tojson | safe }}</span>
    <div class="modal fade" id="deadlineModal" tabindex="-1" role="dialog" aria-labelledby="deadlineModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deadlineModalLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Дедлайн для задачи <a id="taskLink" href="#">"<span id="taskTitle"></span>"</a> наступает <span id="taskDeadline"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
<style>
 
</style>
<script src="{{ url_for('static', path='/scripts.js') }}"></script>
{% endblock %}